// Common styles of the project

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.page {
    background-color: $bg-page;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
}
