.game__intro {
    text-align: center;
}

.game__title {
    font-weight: 700;
    color: $color-text-title;
    opacity: .85;
    text-transform: uppercase;
}
// .game {
//     max-width: 510px;
//     width: 100%;
//     margin-left: auto;
//     margin-right: auto;
// }
