extends templates/layout
//- не забыть про отступ
block content
  section.game__start
    img(src="./img/StartGame.png" srcset="./img/StartGame.png 1x, ./img/StartGame@2x.png 2x" alt="")
    h1.game__name Memory Game
    button#play.btn.btn__play Начать игру
  section.game__play.game__play_d-none
    .game__play-header
      button#play-start-over.btn.btn__start-over Начать заново
      span.game__score Очки:&nbsp;&nbsp;&nbsp;&nbsp;
      span#score.game__score 0
    .game__play-cards
  section.game__end.game__end_d-none
    img(src="./img/Group 2.png" srcset="./img/Group 2.png 1x, ./img/Group 2@2x.png 2x" alt="")
    h2.game__final-score Поздравляем!
      br 
      | Ваш итоговый счет: 
      span#final-score 0
    button#play-again.btn.btn__again Еще раз